<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Favorites</title>
        <link rel="stylesheet" type="text/css" href="/css/favorites.css">
    </head>
    

    <body>
        <!-- MENU BAR -->
        <nav class="menu-bar">
            <a href="/"> Home </a>  <!-- This is the homepage-->
            <a href="/teams"> Team </a>  <!-- This is the teams page  -->
            <a href="/milestonesAndTimelines"> Milestones/Timelines </a>  <!-- This is the milestones and timeline page  -->
            <a href="/favorites"> Favorites </a>  <!-- This is the favoritees page  -->
            <a href="/schematics"> Schematics </a>  <!-- This is the schematics page  -->
            <a href="/video"> Video Demo </a>  <!-- This is the video demo page-->
            <a href="/poster"> Poster </a>  <!-- This is the poster page -->
            <a href="/miniProjects"> Mini Projects </a>  <!-- This is the mini projects page -->
            <a href="/resources"> Resources </a>  <!-- This is the poster page -->
        </nav>

        <!-- ------- -->


        <!-- CONTENTS HERE -->
        <h1>Favorites</h1>

        <h3> 5+ favorite photos (builds) / screenshots (designs) </h3>
        <h3> Must include clear graphics of PCBs </h3>    
        <h3> Include Annotations and Captions </h3>    
            

    



        <!-- ------------- -->


        <script src="/public/favorites.js"></script>
    </body> 


    <footer>
        <img 
            class="fit-picture"
            src="pictures/UCSanDiegoLogo-BlueGold.png" 
            width="200px"
            alt="UCSD Logo"/>

    </footer>
</html>