<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Resources</title>
    <link rel="stylesheet" type="text/css" href="/css/resources.css">
  </head>

  <body>

    <!-- MENU BAR -->
    <nav class="menu-bar" role="navigation">
      <a href="/"> Home </a>  <!-- This is the homepage-->
      <a href="/teams"> Team </a>  <!-- This is the teams page  -->
      <a href="/milestonesAndTimelines"> Milestones/Timelines </a>  <!-- This is the milestones and timeline page  -->
      <a href="/favorites"> Favorites </a>  <!-- This is the favoritees page  -->
      <a href="/schematics"> Schematics </a>  <!-- This is the schematics page  -->
      <a href="/video"> Video Demo </a>  <!-- This is the video demo page-->
      <a href="/poster"> Poster </a>  <!-- This is the poster page -->
      <a href="/miniProjects"> Mini Projects </a>  <!-- This is the mini projects page -->
      <a href="/resources"> Resources </a>  <!-- This is the poster page -->
  </nav>

  <!-- ------- -->


    <!-- REFERENCES -->
        <!-- https://freefrontend.com/css-water-effects/ -->
        <!-- https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100 -->

        <!--Hey! This is the original version
        of Simple CSS Waves-->

        <div class="header">

          <!--Content before waves-->
          <div class="inner-header flex">
          <!--Just the logo.. Don't mind this-->
          <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
          <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
          <g><path fill="#fff"
          d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
          C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
          c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
          </g>
          </svg>
          <!-- <h1>Simple CSS Waves</h1> -->
          <h1> Resources </h1>
          </div>


          <!-- CONTENTS HERE -->

          <!-- MAIN CONTAINER -->
          <div class="container">

            
            <iframe src="https://giphy.com/embed/P7JmDW7IkB7TW" width="480" height="326" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/one-direction-zayn-malik-abhhhhhhhhhhhhhhhhhhhhhhhh-P7JmDW7IkB7TW">via GIPHY</a></p>

            <!-- Resource 1 -->
            <div class="resource">
              <h3> Resource 1: Patents</h3>

              <p>
                This wet suit measures the contamination level of the waters: 
              </p>
              <a href="https://pubs.rsc.org/en/content/articlelanding/2011/an/c1an15193b" target="_blank">Wearable Electrochemical Sensors for in Situ Analysis in Marine Environments, </a>
              <a href="https://jacobsschool.ucsd.edu/news/release/1093?id=1093" target="_blank"> Flexible, Printable Sensors Detect Underwater Hazards </a>
              
              <p>
              Here is a storm drain/sewage solution patent:
              </p>
              <a href="https://patents.google.com/patent/US7488413B2/en" target="_blank"> Waste Water Treatment Plant and Method </a>
              
              <p>
              Here is for a cleaner water solution patent, by separating harmful bacterias from the water:
              </p>
              <a href="https://patents.google.com/patent/US5242595A/en" target="_blank"> Bacteria Removal by Ceramic Microfiltration, </a>
              <a href="https://patents.google.com/patent/US3878093A/en" target="_blank"> Separating Yeast and/or Bacterial Cells from a Liquid Medium, </a>
              <a href="https://ip.sandia.gov/patent/method-for-concentration-and-separation-of-biological-organisms-by-ultrafiltration-and-dielectrophoresis/" target="_blank"> Method for Concentration and Separation of Biological Organisms by Ultrafiltration and Dielectrophoresis </a>
                
              
              <a href="https://example.com/patent-link" target="_blank">View Patent</a>
            
            </div>

            <!-- Resource 2 -->
            <div class="resource">
              <h3>Resource 2: Research/Arduino Documentation</h3>
              
              <p> 

              </p>

              <a href="https://www.electroniclinic.com/iot-water-quality-monitoring-using-arduinoph-sensornodemcu-esp8266/" target="_blank"> IOT Water Quality Monitoring Using Arduino, pH Sensor, Nodemcu ESP8266, </a>
              <a href="https://www.hackster.io/eani/water-quality-monitoring-and-notification-system-f85d23" target="_blank"> Water Quality Monitoring and Notification System, </a>
              <a href="https://www.ysi.com/" target="_blank"> YSI, </a>
              <a href="https://www.epa.gov/wqs-tech" target="_blank"> Water Quality Standards: Regulations and Resources, </a>
              <a href="https://www.standardmethods.org" target="_blank"> Standard Methods For the Examination of Water and Wastewater, </a>
              <a href=" https://www.nsf.org/nsf-standards/standards-portfolio/water-wastewater-standards" target="_blank"> Water and Wastewater Standards </a>
             
            </div>

            <!-- Resource 3 -->
            <div class="resource">
              <h3>Resource 3: Problems Research</h3>
              <p>

              </p>
              <a href="https://www.sdcoastkeeper.org/" target="_blank"> San Diego Coastkeepers - Home Page, </a>
              <a href="https://www.sdcoastkeeper.org/water-quality/stormwater-infrastructure-funding/" target="_blank"> San Diego CoastKeepers - Stormwater Infrastructure, </a>
              <a href=" https://www.sdcoastkeeper.org/tijuana-river-sewage/" target="_blank"> San Diego Coastkeepers - Tijuana River Sewage Crisis, </a>
              
              <a href="https://www.sdcoastkeeper.org/blog/tijuana-river-sewage-crisis-causes-consequences/" target="_blank"> Understanding The Tijuana River Sewage Crisis - An Overview of Causes and Consequences, </a>
              <a href="https://www.waterboards.ca.gov/sandiego/water_issues/programs/tijuana_river_valley_strategy/sewage_issue.html" target="_blank"> USIBWC Spill Events and Transboundary Flow Events from Mexico into the San Diego Region, </a>
              <a href="https://www.sdsu.edu/news/2024/02/public-health-crisis-unfolds-as-tijuana-river-sewage-contamination-escalates" target="_blank"> New Report: Public Health Crisis Unfolds as Tijuana River Sewage Contamination Escalates, </a>
              <a href="https://fox5sandiego.com/news/local-news/imperial-beach-sewage-crisis-causing-fears-of-long-term-illnesses/#:~:text=The%20odor%20comes%20from%20millions,closed%20for%20over%201%2C000%20days" target="_blank"> Imperial Beach Sewage Crisis Causing Fears of Long-Term Illnesses </a>

            </div>

              <!-- Resource 4 -->
              <div class="resource">
                <h3>Resource 4: NOAA Fisheries</h3>
                <p> 
  
                </p>
                <a href="https://www.fisheries.noaa.gov/insight/understanding-ocean-acidification" target="_blank"> Statistics and relevant reasoning for effect changing pH has on ocean animals and humans, and why pH is important to combat.</a>

              </div>

              <!-- Resource 5 -->
              <div class="resource">
                <h3>Resource 5: Firebase</h3>
                <p>
                This youtube and article helped a lot with sending and receiving data from the ESP32 to Firebase realtime
                database.
                </p>
                <a href="https://www.youtube.com/watch?v=aO92B-K4TnQ" target="_blank"> 05 Firebase Realtime Database + ESP32 | How to save sensor data & read data to control devices?, </a>

                <a href="https://randomnerdtutorials.com/esp32-firebase-realtime-database/" target="_blank"> ESP32: Getting Started with Firebase (Realtime Database) </a>
                
              </div>


            <!-- Resource 4 -->
            <!-- <div class="resource">
              <h3>Resource 4:  Paper on PID Control</h3>
              <p>We referenced this research paper to understand and implement PID control for our robot's line-following mechanism.</p>
              <a href="https://www.example.com/pid-research-paper" target="_blank">Read Research Paper</a>
            </div>
          </div> -->
         
          <!-- ------------- -->
          </div>

          <!--Waves Container-->
          <div>
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
          </svg>
          </div>
          <!--Waves end-->
          
          
          <!--Header ends-->
          
          <!--Content starts-->
          <div class="content flex">
          <!-- <p>By.Goodkatz | Free to use </p> -->
            <img 
            class="fit-picture"
            src="pictures/UCSanDiegoLogo-BlueGold.png" 
            width="200px"
            alt="UCSD Logo"/>
      </div>
      <!--Content ends-->


  </body>

  <!-- <footer>
    <img 
        class="fit-picture"
        src="pictures/UCSanDiegoLogo-BlueGold.png" 
        width="200px"
        alt="UCSD Logo"/>
  </footer> -->

</html>
 