<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meet the Team</title>
        <link rel="stylesheet" type="text/css" href="/css/teammates.css">
    </head>
    

    <body>
        <!-- MENU BAR -->
        <nav class="menu-bar">
            <a href="/"> Home </a>  <!-- This is the homepage-->
            <a href="/teams"> Team </a>  <!-- This is the teams page  -->
            <a href="/milestonesAndTimelines"> Milestones/Timelines </a>  <!-- This is the milestones and timeline page  -->
            <a href="/favorites"> Favorites </a>  <!-- This is the favoritees page  -->
            <a href="/schematics"> Schematics </a>  <!-- This is the schematics page  -->
            <a href="/video"> Video Demo </a>  <!-- This is the video demo page-->
            <a href="/poster"> Poster </a>  <!-- This is the poster page -->
        </nav>

        <!-- ------- -->


        <!-- CONTENTS HERE -->
        <h1> Meet the Team </h1>
        <img 
            class="fit-picture"
            src="pictures/grouppic1.jpeg" 
            width="400px"
            alt="Picture of Afraz, Chloe, Minh"/>

        <h3> Sarah Reine Bulatao </h3>
        <img 
            class="fit-picture"
            src="pictures/sarah.jpeg" 
            width="100px"
            alt="Picture of Sarah"/>

        <p> Short desciption of Sarah...... </p>


        <h3> Thao Chung (Chloe) </h3> 
        <img 
            class="fit-picture"
            src="pictures/chloe.jpeg" 
            width="100px"
            alt="Picture of Chloe"/>

        <p> Short desciption of Chloe...... </p>


        <h3> Afraz Hameed </h3>
        <img 
            class="fit-picture"
            src="pictures/afraz.jpeg" 
            width="100px"
            alt="Picture of Afraz"/>

        <p> Short desciption of Afraz...... </p>


        <h3> Minh Pham </h3>
        <img 
            class="fit-picture"
            src="pictures/minh.jpeg" 
            width="100px"
            alt="Picture of Minh"/>

        <p> Short desciption of Minh...... </p>



        <!-- ------------- -->


        <script src="/public/teammates.js"></script>
    </body> 


    <footer>
        <img 
            class="fit-picture"
            src="pictures/UCSanDiegoLogo-BlueGold.png" 
            width="200px"
            alt="UCSD Logo"/>

    </footer>
</html>